<footer class="footer">
  <ul class="footer-navbar">
    <li class="footer-navbar__item"><a href="#">Guidelines</a></li>
    <li class="footer-navbar__item"><a href="#">FAQ</a></li>
    <li class="footer-navbar__item"><a href="#">Support</a></li>
    <li class="footer-navbar__item"><a href="#">API</a></li>
    <li class="footer-navbar__item"><a href="#">Security</a></li>
    <li class="footer-navbar__item"><a href="#">Lists</a></li>
    <li class="footer-navbar__item"><a href="#">Bookmarklet</a></li>
    <li class="footer-navbar__item"><a href="#">Legal</a></li>
    <li class="footer-navbar__item"><a href="#">Apply to YC</a></li>
    <li class="footer-navbar__item"><a href="#">Contact</a></li>
  </ul>
  <form class="footer-searchbar">
    <label class="form-searchbar__label" for="footer-input">Search</label>
    <input type="text" class="form-searchbar__input" id="footer-input">
  </form>
</footer>
