<header class="header">
  <div class="container">
    <a class="brand" href="/">
      <img class="brand__logo" src="/img/logo.png">
      <span class="brand__title">News</span>
    </a>
    <nav class="navbar">
      <ul class="navbar__links">
        <li><a class="navbar__link" href="/new">Latest</a></li>
        <li><a class="navbar__link" href="/ask">Ask</a></li>
        <li><a class="navbar__link" href="/show">Show</a></li>
        <li><a class="navbar__link" href="/jobs">Jobs</a></li>
      </ul>
    </nav>
  </div>
</header>
