<header class="header">
  <div class="header__container container">
    <a class="navbar-link" href="/">Home</a>
    <nav class="navbar">
      <a class="navbar-link" href="/new">New</a>
      <a class="navbar-link" href="/ask">Ask</a>
      <a class="navbar-link" href="/show">Show</a>
      <a class="navbar-link" href="/jobs">Jobs</a>
    </nav>
  </div>
</header>
