<main class="main">
  <div class="container">
    <ul class="articles">
      <% articles.each do |article| %>
      <%= erb(:_article, locals: { article: article }) %>
      <% end %>
    </ul>
  </div>
</main>
