<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>News | drihu.com</title>
  <meta name="theme-color" content="#18191a">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="shortcut icon" type="image/png" href="/img/logo-64.png">
</head>
<body>
  <div class="app-viewport">
    <header class="header">
      <div class="container">
        <a class="brand" href="/">
          <img class="brand__logo" src="/img/logo-64.png" width="40" height="40">
          <span class="brand__title">News</span>
        </a>
        <nav class="navbar">
          <ul class="navbar__links">
            <li><a class="navbar__link" href="/new">Latest</a></li>
            <li><a class="navbar__link" href="/ask">Ask</a></li>
            <li><a class="navbar__link" href="/show">Show</a></li>
            <li><a class="navbar__link" href="/jobs">Jobs</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <%= yield %>

    <footer class="footer">
      <div class="container">
        <a class="footer__link" href="https://drihu.com" target="_blank">drihu.com</a>
      </div>
    </footer>
  </div>
</body>
</html>
