body {
  background-color: #F2F3F5;
  font-family: "Ubuntu", Arial, Helvetica, sans-serif;
}
/*------------------------------
HEADER
------------------------------*/
.header {
  margin-bottom: 15px;
  padding: 20px 0;
  background-color: #FFFFFF;
  border-top: 7px solid #6F8AE8;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #34495e;
  font-weight: 300;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.brand {
  display: flex;
  align-items: center;
}
.brand-logo {
  width: 20px;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 17px solid #6F8AE8;
}
.brand-title {
  margin-left: 15px;
}
.navbar {
  display: flex;
}
.navbar-link {
  margin-left: 30px;
}
.pagination-item {
  list-style-type: none;
}
/*------------------------------
ARTICLE
------------------------------*/
.article {
  padding: 20px 30px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #EEEEEE;
  font-size: 15px;
}
.article-header {
  display: flex;
  align-items: center;
  color: #34495E;
}
.article-header__host {
  margin-left: 15px;
  color: #828282;
  font-size: 14px;
}
.article-metadata {
  color: #828282;
  font-size: 14px;
  font-weight: 300;
}
