:root {
  --black: #18191a;
  --gray: #828282;
  --light-gray: #f0f2f2;
  --white: #ffffff;
}

.app-viewport {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

/*------------------------------
HEADER
------------------------------*/

.header {
  padding: 1rem 0;
  background-color: var(--white);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  & > .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  @media (min-width: 992px) {
    & > .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.brand {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.25rem 0.75rem 0.25rem 0.25rem;
  background-color: var(--white);
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 0.25rem;
  text-decoration: none;

  & .brand__logo {
    width: 2.5rem;
    height: auto;
  }

  & .brand__title {
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 700;
    font-family: "Ubuntu";
  }
}

.navbar {
  font-family: "Ubuntu";
  font-size: 1rem;
  font-weight: 500;

  & .navbar__links {
    display: flex;
    flex-direction: row;
    padding-left: 0;

    & > li {
      list-style-type: none;
    }
  }

  & .navbar__link {
    display: block;
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    text-decoration: none;

    @media (min-width: 768px) {
      padding: 0.5rem 2rem;
    }

    &:hover {
      background-color: var(--black);
      color: var(--white);
    }
  }
}

/*------------------------------
ARTICLES
------------------------------*/

.main {
  padding: 2rem 0;

  & > .container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}

.articles {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
  padding-left: 0;

  @media (min-width: 768px) {
    & {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 992px) {
    & {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media (min-width: 1400px) {
    & {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

.article {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Ubuntu";
  list-style-type: none;

  & .article__title {
    color: var(--black);
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    transition: transform 0.2s;
  }

  & .article__title:hover {
    transform: scale(1.025);
  }

  & .article__domain {
    color: var(--gray);
    font-size: 0.85rem;
    font-weight: 400;
  }

  & .article__metadata {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    color: var(--gray);
    font-size: 0.85rem;
    font-weight: 300;
  }
}

.pagination {
  & .pagination__links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5rem;
    padding-left: 0;

    & > li {
      list-style-type: none;
    }
  }

  & .pagination__link {
    display: block;
    padding: 0.5rem 0.75rem;
    background-color: var(--white);
    border: 1px solid var(--gray);
    font-family: "Ubuntu";
    font-size: 1rem;
    font-weight: 400;
    list-style-type: none;
    text-decoration: none;
  }

  & .pagination__link--active {
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
  }

  & .pagination__link--previous {
    border-radius: 0.25rem 0 0 0.25rem;
  }

  & .pagination__link--next {
    border-radius: 0 0.25rem 0.25rem 0;
  }
}

/*------------------------------
FOOTER
------------------------------*/

.footer {
  padding: 2rem 0;
  background-color: var(--light-gray);
  text-align: center;

  & .footer__link {
    color: var(--black);
    font-size: 1.25rem;
  }
}
