*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
}

html {
  color: #18191a;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.125;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ol, ul {
  padding-left: 2rem;
}

/* Breakpoints and Container */

.container {
  width: 100%;
  margin: auto;
  padding: 0 1rem;
}

@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (min-width: 1400px) {
  .container {
    width: 1320px;
  }
}
